---
import logo from "../images/image 24.png";
import logo2 from "../images/image 25.png";
import logo3 from "../images/image 26.png";
import logo4 from "../images/image 27.png";
import logo5 from "../images/image 28.png";
import logo6 from "../images/image 29.png";
import logo7 from "../images/image 30.png";
import logo8 from "../images/image 31.png";
import logo9 from "../images/image 32.png";
import logo10 from "../images/image 33.png";
import logo11 from "../images/Invest_India-removebg-preview-modified 1.png";
import logo12 from "../images/SLF-Logo-removebg-preview-modified 1.png";
import logo13 from "../images/WIF-BW 1.png";
import "../styles/global.css";
---

<section class="clienttop">
  <div class="container mx-auto  ">
    <div class="flex flex-row py-10">
      
      <div class="w-full">
        <div>
          <h2 class="headclient">Our Clients</h2>
        </div>
          
            <div
              class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-2 sm:gap-4 gap-6 pt-6 md:pt-14"
            >
              <div class="p-4 md:p-8 flex  justify-center">
                <div class="featimg">
                <img src={logo.src}  />
              </div>
             
                
              </div>
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo2.src} />
              </div>
             
              </div>
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo3.src} class=""/>
                </div>
               

              </div>
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo4.src} />
                </div>
               
                </div>
              
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo5.src} />
                </div>
               
              </div>
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo6.src} />
                </div>
                
              </div>
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo7.src} />
                </div>
              
              </div>
              
              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo8.src} />
                </div>
               
              </div>

              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo9.src} />
                </div>
               
              </div>

              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo10.src} />
                </div>
               
              </div>

              <div class="p-8 md:p-8 flex  justify-end md:col-span-2 featimgcol">
                <div class="featimg">
                <img src={logo11.src} />
                </div>
               
              </div>

              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo12.src} />
                </div>
               
              </div>

              <div class="p-8 md:p-8 flex  justify-center ">
                <div class="featimg">
                <img src={logo13.src} />
                </div>
               
              </div>
            </div>
        
       
      </div>
    </div>
  </div>


</section>

<style>
.clienttop{
  margin-top: 76px;
}

.headclient{
  font-family: 'DM Serif Display';
font-size: 64px;
font-weight: 550;
line-height: 88px;
letter-spacing: 0em;
text-align: center;

}

.widthForContentAll{
  width: calc(100% - 50px);
}


.featimg{
  /* width: 50px !important;
  height: 50px; */
}


  .FEATURES {
    color: #fedd00;
    font-size: 36px;
    font-family: var(--EVERETT-REGULAR);
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }

  .featurehove {
    background-color: #ebebeb;
    cursor: pointer;
  }
  .featurehove p {
    width: 260px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  .featurehove:hover {
    background-color: #4616cb;
    color: white;
    transition: 0.5s;
  }

  .featurehove {
    height: 155px;
  }

  .featimgcol{
    margin-right: 70px;
  }

@media screen and (max-width:425px){
  .featimgcol{
    margin-right: 0px;
    justify-content: center;

  }
  .clienttop {
    margin-top: 0px;
}
.headclient {
  font-size: 35px;
}
}
@media screen and (max-width:375px){
  .featimgcol{
    margin-right: 0px;
    justify-content: center;

  }
  .clienttop {
    margin-top: 0px;
}
.headclient {
  font-size: 32px;
  line-height: 16px;
}

}

</style>
